$base-color: darkblue;
$base-font-size: 16px;
$base-font-family: "times New Roman";
$main-color: lightblue;
$secondary-color: pink;
$error-color: red;
$info-color: lightyellow;

@mixin rest-list {
    
    margin: 0;
    padding: 0;
    
}